	.margin-top-10 {
    margin-top: 10px;
  }
  /*.my-pagination /deep/ {
  		font-size: 18px;
  	}
	.my-pagination /deep/ .ngx-pagination .current {
    	background: #FFFFFF;
    	color: #000000;
    	border-bottom: 2px solid #3dffaf;
    	font-weight: 900;
  	}
 	.my-pagination /deep/ .ngx-pagination {
  		color: #0000FF;
  	}
 	.my-pagination /deep/ .ngx-pagination .disabled {
  		display: none;
  	}
  	.my-pagination /deep/ .pagination-next {
  		font-size: 25px;
  	}
  	.my-pagination /deep/ .pagination-previous {
  		font-size: 25px;
  	}*/