<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Angular 5.2 + Larvel 5.6</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/book">Book</a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
        
      </li>
    </ul>
    <ul class="navbar-nav pull-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/logout">
          <i class="fa fa-sign-out"></i>Logout
        </a>
      </li>
    </ul>
  </div>
</nav>